hostname {{ hostname }}

{% for intf in interfaces %}
interface {{ intf.name }}
  {% if intf.description %}description {{ intf.description }}{% endif %}
  {% if intf.ip and intf.mask %}ip address {{ intf.ip }} {{ intf.mask }}{% endif %}
{% endfor %}
